body{
    margin: 0;
    background-color: hsl(120, 1%, 34%);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.todo-container {
    width: 50vw;
    text-align: center;
    max-height: 90vh; 
}


.input-section{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ececee;
    padding: 18px;
    border-radius: 5px;
    box-shadow:  3px 3px 3px 2px #373737cc;
}

.input-section h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #514d4d;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-section input::placeholder {
    color:silver;
}

ul{
    text-align: left;
    padding: 0;
}

ul li {
    list-style: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: gray;
    box-shadow: 3px 3px 3px 2px #514d4d;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

ul li input {
    margin-right: 8px;
    transform: scale(1.1);
}

ul li .value{
    color: #514d4d;
}


.list-section {
    display: flex;
    align-items: center;
  }

  .action-bar {
    display: inline-flex;
    align-items: center;
  }

  .action-bar i {
    margin: 0 5px;
    cursor: pointer;
  }




@media screen and (max-width: 600px) {
    body{
        align-items: normal;
        margin: 20px;
    }
    .todo-container {
        width: 90vw; /* Adjust width for smaller screens */
    }
}